html, *, *::before, *::after {
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  /* La siguiente linea la uso para ver lo que ocupan las cajas en el body */
  /* outline: 1px solid red; */
  box-sizing: border-box;
} 


/* ESTILOS GENERALES */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: linear-gradient(to right, #8e9eaba2, #eef2f3);
  overflow-x: hidden;
  width: 100dvw;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  text-wrap-mode: wrap;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 2;
}

.negrita {
  font-weight: 700;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

#scroll-up {
  position: fixed;
  bottom: 5%;
  right: 5%;
  opacity: 0;

  animation: scroll-up-load 1s ease-in-out 1.2s forwards, bouncing 2s ease-in-out infinite;
}

#scroll-up svg {
  scale: 1.5;
  rotate: 180deg;
  fill: #626262;
}

@keyframes bouncing {
  0% { transform: translateY(0) }
  50% { transform: translateY(-30px) }
  100% { transform: translateY(0) }
}

@keyframes scroll-up-load {

  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}


/* ESTILOS HEADER */

.icons-top {
  position: fixed;
  top: 3%;
  right: 1%;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  opacity: 0;

  animation: icons-load 1s ease-in-out 1.2s forwards;
}

@keyframes icons-load {

  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}

.icons-top a svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: #626262;
  transition: all .3s ease-in-out;
}

.icons-top a svg:hover {
  fill: #9e9e9e;
  transform: translateY(-0.2rem);
}


header {
  margin: 5rem 0 10rem 0;
  width: 100%;
}

.presentacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.presentacion img {
  aspect-ratio: 1 / 1;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
  opacity: 0;
  
  animation: img-load .6s ease-out .6s forwards;
}

@keyframes img-load {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulo {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo .nombre {
  font-weight: 200;
  letter-spacing: 2rem;
  opacity: 0;

  animation: nombre-load 1s ease-in-out 1s forwards;
}

@keyframes nombre-load {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.titulo div {
  width: 100%;
  background-color: black;
  height: 2px;
  transform-origin: 0 0;
  transform: scaleX(0);

  animation: linea-load 1s ease-in-out 1s forwards;
}

@keyframes linea-load {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

.titulo .prof {
  opacity: 0;
  letter-spacing: .5rem;
  font-weight: 400;

  animation:prof-load 1s ease-in-out 1s forwards;
}

@keyframes prof-load {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.navegacion {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  opacity: 0;

  animation: navegacion-load 1s ease-in-out 1s forwards;
}

@keyframes navegacion-load {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navegacion a {
  width: 8rem;
  height: 4rem;
  text-decoration: none;
  color: rgb(225, 225, 225);
  background: linear-gradient(to right, #252525,#626262, #252525);
  background-size: 180%;
  background-position: right;
  padding: .8rem;
  border-radius: 20px;
  display: grid;
  place-items: center;
  text-align: center;

  transition: background-position .3s ease-in-out;
}

.navegacion a:hover {
  background-position: left;
}


/* ESTILOS GLOBALES PARA EL MAIN */


main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  gap: 10rem;
}

ul {
  /* Reseteo listas */
  list-style: none;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5rem;
}

section ul {
  width:100%;
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

/* ESTILOS EXPERIENCIA LABORAL */

.exp-tic {
  margin-bottom: 2rem;    
}

.empresa {
  text-transform: uppercase;
}

.exp-tic ul li ul {
  margin-left: 2rem;
}

.exp-tic ul li ul li p {
  font-size: .8rem;
}

.primera-linea {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  font-weight: 700;
  border-bottom: 1px solid #252525;
  margin-bottom: .3rem;
}

.exp-no-tic ul li{
  margin-bottom: 1.5rem;
}

/* ESTILOS EDUCACION ACADÉMICA */
#educacion ul li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

#educacion ul li p:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  border-bottom: 1px solid #252525;
  margin-bottom: .3rem;
}

#educacion ul li p:last-child {
  text-transform: uppercase;
}

/* ESTILOS SKILLS */

.skills-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.skills-container div h3 {
  font-size: 1.5rem;
}

.skills-container div ul {
  text-align: center;
}

.skills-container div ul li {
  margin-bottom: .3rem;
}

.skills-container div ul li::after {
  content: "☑️";
  margin-left: .3rem;
  font-size: 1.2rem;
}

/* ESTILOS PROYECTOS */

.proyectos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.proyectos-container div a {
  color: rgb(67, 67, 67);
  text-decoration: none;
}

.proyectos-container div a:hover {
  text-decoration: underline;
}

/* ESTILOS CONTACTO */

.contacto-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contacto-container a {
  width: 10rem;
  height: 4rem;
  text-decoration: none;
  color: rgb(225, 225, 225);
  background: linear-gradient(to right, #252525,#626262, #252525);
  background-size: 180%;
  background-position: right;
  padding: .8rem;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  transition: background-position .3s ease-in-out;
}

.contacto-container a svg {
  width: 2rem;
  height: 2rem;
  fill: rgb(225, 225, 225);
}

.contacto-container a:hover {
  background-position: left;
}


/* ESTILOS FOOTER */

footer {
  text-align: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  margin-top: 5rem;
  width: 100dvw;
}

.mail {
  color: rgb(131, 131, 131);
  text-decoration: none;
}

.mail:hover {
  text-decoration: underline;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: lightblue;
}

.social-links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nombre, .prof {
    font-size: 1.8rem;
  }

  .nombre {
    letter-spacing: 1rem;
  }
  
  .skills-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contacto-container {
    flex-wrap: wrap;
  }
}